.container-house {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.house-blason-img {
  width: 10em;
  height: 12em;
  object-fit: cover;
  padding: 3em;
}
.gryffindor-house-container {
  display: flex;
}
