.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  background-color: #0d141f;
  padding: 1em 2em;
}

.logo-header {
  width: 50px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.links {
  display: flex;
  gap: 1em;
}

.links-header {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid transparent;
}

.links-header:hover {
  border-bottom: 1px solid white;
}
