.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  background-color: #0d141f;
  padding: 1em 2em;
}

.logo-header {
  width: 50px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.links {
  display: flex;
  gap: 1em;
}

.links-header {
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  color: white;
}
.links-header::after {
  content: "";
  display: flex;
  width: 0; /* Hide border initially */
  height: 1px;
  background: white;
  transition: width 0.3s ease;
}
.links-header:hover::after {
  width: 100%; /* Show border on hover */
}

@keyframes appear {
  from {
    border-bottom: 1px solid white;
    transform: scaleX(0);
  }
  to {
    border-bottom: 1px solid white;
    transform: scaleX(1);
  }
}
